:root {
    -- link-color: red;
    -- text-color;
    -- text-font-family: "Roboto" sans-serif;
}

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
   }

.global-header a 
.global-header a:visited {
    color: var(-- link color);
}


.global-header li {
    list-style-type: none;
}

.global-header {
    color: #2E2F42;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    width: 1200px;
    height: 72px;
    margin-block-start: 0%;
    border-bottom: 1px solid blue;
  width: 100%;
    
}

.logo1::before {
    content: "Web";
    color: blue;
    Width: 115px;
    Height: 24px;
    font-weight: 800;
    text-decoration: none;
}

.logo1::after {
    content: "Studio";
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.global-header :hover {
    color: chartreuse;
    text-decoration: none;
}

.button {
    Width: 261px;
    Height: 24px;
    Gap: 40px;
    Weight: 500;
    display: flex;
    justify-content: center;
    margin-block-start: 0%;
    text-decoration: none;
}

.linkk {
    text-decoration: none;
}

.contact1 {
    color: black;
    Width: 153px;
    Height: 24px;
    text-decoration: none;
}

.contact2 {
    color: black;
    Width: 151px;
    Height: 24px;
    text-decoration: none;
}

.button-section {
   display: flex;
   color: var(--brand-color);
   list-style: none;
   justify-content: space-around;
   padding-left: 20px;
}

.list-button {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: blue; 
}


.buttons {
   
    align-items: center;
  
    color: blue;
    background-color: R #E7E9FC;

    color: var(--links-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    padding: 6px 22px;
}

.buttons:hover,
.buttons:focus {
    background-color: var(--logo-and-hover-color);
    color: var(--coral-color);
    cursor: pointer;
}
   


.container {
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    width: 100%;
    
}


.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    padding-bottom: 94px;
    flex-wrap: wrap;
}

.card-app:hover,
.card-app:focus {
   
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    
} 

.card-app:active::before {
    background-color: rgba(0, 0, 0, 0.5);
}   

.app-name {
    weight: 500;
    color: #2E2F42;
}

.icons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-top: 5%;

}

.icon svg {
    width: 20px;
    height: 20px;

}

.icon {
    width: 44px;
    height: 44px;
    background-color: blue;
    border-radius: 50%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(46, 23, 3);
    background: linear-gradient(90deg, rgba(46, 23, 3, 1) 77%, rgba(83, 54, 46, 1) 83%, rgba(23, 21, 18, 1) 94%), black;
    color: #F4F4FD;
    padding: 94px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 1200px;
    width: 100%;
}

.logo2::before {
    content: "Web";
    color: blue;
}

.text {
    width: 240px;
    height: 80px;
}

.left-colum {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.right-colum {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}